/* sử dụng font local */
@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}

body{
    /* font-family: 'Lato', Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif; /* google font */
}


h1{
    text-align:center;
    text-decoration:underline;
    font-style: italic;
    font-weight:bold; /* độ đậm nhạt nét chữ */
}

h1{
    text-decoration: none;
    text-transform:lowercase;
    background-color: yellow;
}

p {
    text-indent: 40px;
    /* word-spacing:30px */
}
.box {
    background-color: yellow;
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    border-radius: 50px;
    /* text-align: center; */
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;

    /* short hand: top right bottom left */
    padding: 15px 20px 15px 20px ;
    /* short hand more top-bottom left-right */
    padding: 15px 20px;
    /**
        5px độ dày
        solid kiểu đường viền
        cuối: giá trị màu
    */
    border-left: 5px dashed red;
    border-right: 5px dashed red;
    border-top: 5px dashed red;
    border-bottom: 5px dashed red;

    /* short hand */
    border: 5px dashed red;

}
.box1 {
    margin-right: 20px;
}

.div{
    margin-bottom: 30px;
}

span {
    display: inline-block;
}