.section {
    margin: 30px 0
}
.section-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 0;
}
.section-title {
    font-weight: bold;
    text-transform: uppercase;
}
.categories-tree {
    width: 280px;
    border: 1px solid #ddd;
    min-height: 300px;
}
.banner-home {
    min-height: 300px;
    background-color: #f3f3f3;
    width: calc(100% - 300px);
}
.products-list {
    gap: 20px;
    flex-wrap: wrap;
}
.product-item {
    width: calc((100% - 60px) / 4);
    min-height: 150px;
    background-color: #f3f3f3;
}

.news-list {
    gap: 20px;
    flex-wrap: wrap;
}
.news-item {
    width: calc((100% - 60px) / 4);
    min-height: 150px;
    background-color: #f3f3f3;
}