*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}

a{
    text-decoration: none;
    color: #111;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

/* Header */

header {
    background-color: #08c;
    
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}
h1 {color: #fff;}
nav>ul{
    display: flex;
    list-style: none;
}
nav>ul>li{
    color: #fff;
    padding: 10px;
    cursor: pointer;
    height: 55px;
    position: relative;
}
nav>ul>li:hover a{
    font-weight: bold;
}
nav>ul>li>a{
    color: #fff;
}

.child {
    position: absolute;
    left: 0;
    top: 55px;
    background-color: #fff;
    padding: 10px;
    list-style: none;
    display: none;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .3);
}
.child li{
    color: #111;
    margin: 6px 0;
}
nav ul li:hover .child{
    display: block;
}

/* End Header */

main{
    min-height: 500px;
    display: flex;

}
.sidebar {
    width: 280px;
    margin-right: 20px;
    background-color: #fafafa;
}

.main-content {
    flex: 1;
}

/* Footer */
footer {
    background-color: #212121;
    padding: 30px 0;
    color: #fff;
}

.footer-top {
    display: flex;
    margin-bottom: 30px;
}
.footer-item {
    flex: 1;
}

