*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
    font-size: 14px;
    background-color: #f3f3f3;
}
a{
    text-decoration: none;
    color: #333;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}

input, select, textarea{
    padding: 8px 16px;
    border: 1px solid  #ccc;
    border-radius: 6px;
}

.input-item {
    display: flex;
    column-gap: 20px;
    margin: 10px 0;
}

.input-item label {
    width: 150px;
    font-weight: bold;
    align-self: center;
}

.input-item.input-radio label,
.input-item.input-checkbox label {
    width: auto;
    font-weight: normal;
}
button{
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    background-color: #111;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: #333;
}
button:disabled{
    background-color: #777;
    cursor: not-allowed;
}