.tags_wrapper {
    background-color: #212121;
    max-width: 400px;
    padding: 20px;
}

.tags_wrapper h2 {
    color: #fff
}

.tags_wrapper .tags a{
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    /*
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    */
    /* padding: 5px; */ /* 4 huong = nhau */
    padding: 5px 8px 5px 8px; /* top right bottom left */
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}