*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    border: 1px solid #111;
    display: flex;
}

.item {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
}

header {
    background-color: #f80;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navigation ul,
.navigation {
    display: flex;
}
.navigation {
    column-gap: 30px;
}
.navigation ul{
    list-style: none;
    column-gap: 15px;
}
/*
.navigation ul li {
    margin-left: 15px;
}
    */