*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* .card-title {
    display: flex;
    justify-content: space-between;
} */
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}

.article_list {
    column-gap: 20px;
}

.article_item {
    width: calc((100% - 60px) / 4);
}

.article_item .article_thumb img{
    width: 100%;
    border-radius: 10px;
}
.article_thumb {
    border-radius: 10px;
    overflow: hidden;
}