*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}
header {
    background-color: #1abc9c;
    padding: 10px;
    position: relative;
}
.header_wrapper {
    justify-content: space-between;
    align-items: center;
}
.main_nav ul{
    list-style: none;
    column-gap: 15px;
}
.main_nav ul>li>a{
    color: #fff;
    text-decoration: none;
}
.logo {
    color: #fff;
}


/* Mobile fisrt */
/* min-width = breakpoint - 1px */
@media screen and (max-width: 576px){
    
    .main_nav {
        display: none;
       }
   
 }

@media screen and (min-width: 575px){
   .logo{
    color:red;
   }
  
}
/* tablet */
@media screen and (min-width: 767px){
    .logo{
        color:blue;
       }

}

/* large tablet */
@media screen and (min-width: 991px){
    .logo{
        color:orange;
    }
}
/* laptop 14 inch */
@media screen and (min-width: 1119px){
    .logo{
        color:black;
    }
    .none, .sm, .md, .lg,.xxl{
        display: none;
    }
    .xl {
        display: block;
    }
}
/* laptop 2K */
@media screen and (min-width: 1339px){
    .logo{
        color:crimson;
    }
    .none, .sm, .md, .lg,.xl{
        display: none;
    }
    .xxl {
        display: block;
    }
}
