.container {
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
  font-family: 'Lato', sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 260px;
  display: flex;
  border: 1px solid gainsboro;
  box-shadow: 4px 4px gainsboro;
}

.row {
  flex: 1;
  text-align: center;
}

.row h3 {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

.row h2 {
  margin: 0;
  font-weight: 300;
  font-size: 40px;
  color: rgb(0, 206, 189);
}

.row-block-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-block-bottom {
  display: flex;
  flex: 1;
  padding-block: 16px;
  justify-content: center;
  background-color: rgb(236, 236, 236);
}

.column {
  display: flex;
  flex-direction: column;
  height: 120px;
  padding-inline: 12px;
}

.column > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.column .blank {
  background-color: white;
  width: 20px;
  border: 1px solid gainsboro;
  border-width: 1px 1px 0px 1px;
}

.column .fill {
  width: 20px;
  border: 1px solid gainsboro;
  border-width: 0px 1px 1px 1px;
}

.column strong {
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  color: gray;
}

.column .blank {
  flex: 1;
}

.column > .monday > .fill {
  background-color: greenyellow;
}

.column > .tuesday > .fill {
  background-color: red;
}

.column > .wednesday > .fill {
  background-color: orange;
}

.column > .thursday > .fill {
  background-color: blue;
}
.column > .friday > .fill {
  background-color: violet;
}

/* TODAY'S VISITORS */
#today-visitors .column > .monday > .fill {
  height: 30%;
}
#today-visitors .column > .tuesday > .fill {
  height: 45%;
}
#today-visitors .column > .wednesday > .fill {
  height: 45%;
}
#today-visitors .column > .thursday > .fill {
  height: 45%;
}
#today-visitors .column > .friday > .fill {
  height: 55%;
}
/* --------------------------------------------------------------------------------------------------- */
/* YESTERDAY'S VISITORS*/
/* MONDAY */
#yesterday-visitors .column > .monday > .fill {
  height: 30%;
}
/* TUESDAY */
#yesterday-visitors .column > .tuesday > .fill {
  height: 45%;
}
/* WEDNESDAY */
#yesterday-visitors .column > .wednesday > .fill {
  height: 45%;
}
/* THURSDAY */
#yesterday-visitors .column > .thursday > .fill {
  height: 45%;
}
/* FRIDAY */
#yesterday-visitors .column > .friday > .fill {
  height: 65%;
}
/* --------------------------------------------------------------------------------------------------- */
/* TOTAL'S VISITORS*/
/* MONDAY */
#total-visitors .column > .monday > .fill {
  height: 30%;
}
/* TUESDAY */
#total-visitors .column > .tuesday > .fill {
  height: 45%;
}
/* WEDNESDAY */
#total-visitors .column > .wednesday > .fill {
  height: 45%;
}
/* THURSDAY */
#total-visitors .column > .thursday > .fill {
  height: 45%;
}
/* FRIDAY */
#total-visitors .column > .friday > .fill {
  height: 15%;
}
