/* Common */
:root{
    --main-color: #08C;
    --border-gray-color: #e7e7e7
   }
   * {
       outline: none;
       box-sizing: border-box;
       margin: 0;
       padding: 0;
   }
   html { font-size: 62.5%; } /* =10px */
   body {
       font-size: 1.4rem; /* =14px */
       font-family: 'Lato', sans-serif;
       color: #222;
       line-height: 1.4;
   }
   a {
       text-decoration: none;
       transition: all 0.3s;
       color: #333;
   }
   ol, ul {
       margin: 0;
       padding: 0;
       list-style: none;
   }
   .h1, .h2, .h3, .h4, .h5, .h6{
       margin-bottom: 1.8rem;
       color: #222529;
       font-weight: 700;
   }
   input[type='text'],
   input[type='tel'],
   input[type='number'],
   input[type='email'],
   input[type='password'],
   select,
   textarea {
       padding: 10px;
       background-color: #fff;
       border: 1px solid #ddd;
       border-radius: 3px;
       appearance: none;
   }
   
   button, .btn {
       padding: 10px;
       background-color: var(--main-color);
       color: #fff;
       font-weight: 600;
       border: none;
       border-radius: 3px;
       appearance: none;
       cursor: pointer;
       display: inline-flex;
       justify-content: center;
       align-items: center;
   
   }
   .clearfix:after {
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
   }
   
   * html .clearfix             { zoom: 1; } /* IE6 */
   *:first-child+html .clearfix { zoom: 1; } /* IE7 */
   