/* Chứa phần CSS dùng chung cho toàn bộ pages */

/* Biến màu dùng chung */
:root {
    --main-color: #FF6900;
    --dark-color: #111;
    --text-color: #111;
    --second-color:#4444;
    --normal-text-size: 16px;
    --header-middle-bg: #fff;
    --header-top-bg: #111;
    --footer-bottom-bg: #161616;
    --footer-top-bg: #212121;
    --product-gap: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--dark-color); /* cách dùng biến màu */
}

a:hover {
    color: var(--main-color);
}

ul{
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--normal-text-size);
    color: var(--dark-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.text-white {
    color: #fff;
}
.text-center{
    text-align: center;
}

/* custom for flexbox */
.flex {
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}

/* === begin css HEADER === */
header {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}
.header-top{
    background-color: var(--header-top-bg);
    padding: 10px 0;
}
.header-middle{
    background-color: var(--header-middle-bg);
    padding: 20px 0;
}
.navigation ul{
    column-gap: 20px;
}
/* === end css HEADER === */



/* === BEGIN css FOOTER === */
.footer-top{
    background-color: var(--footer-top-bg);
}
.footer-bottom{
    background-color: var(--footer-bottom-bg);
}
.copyright {
    padding: 20px 0;
    font-size: 14px;
}
footer .footer-item {
    width: calc((100% - 90px) / 4);
}
footer .footer-top {
    padding: 50px 0;
}
footer .footer-title {
    text-transform: uppercase;
    margin-bottom: 20px;
}
footer .footer-wrapper{
    column-gap: 30px;
}
/* === end css FOOTER === */