@media screen and (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
    .news-card {
        width: calc((100% - 40px) / 3);
    }
    .footer-col {
        width: calc((100% - 60px) / 2);
    }
}

@media screen and (max-width: 425px) {
   
    .news-card {
        width: calc((100% - 20px) / 2);
    }
    .footer-col {
        width: 100%;
    }
    .main-nav ul {
        display: none;
    }
    .main-header {
        position: relative;
    }
    .main-nav ul.show{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 74px;
        background-color: #fff;
        left: 0;
        right: 0;
        align-items:flex-start;
        padding: 20px;
        row-gap: 20px;
    }
    
    .main-nav li a {
        color: #333;
    }

    #toggle_mobile i {
       position: relative;
    }
    #toggle_mobile i,
    #toggle_mobile i::after,
    #toggle_mobile i::before
    {
        background-color: #fff;
        height: 2px;
        width: 40px;
        display: block;
    }
    #toggle_mobile i::after,
    #toggle_mobile i::before{
        content: "";
        position: absolute;
        left: 0;
    }
    #toggle_mobile i::after {
        top: 10px;
    }
     #toggle_mobile i::before {
        top: -10px;
    }

}