

/* màn hình Laptop nhỏ, hoặc ipad lớn */
@media screen and (max-width: 1025px) {
    .container{
        max-width: 960px;
        width: 960px;
    }
    #page-index .section-one-left {
        width: 25%;
    }
    #page-index .section-one-right {
        width: calc(100% - 25% - 20px);
    }

}

/* màn hình tablet */
@media screen and (max-width: 769px) {
    .container {
        max-width: none;
        width:100%;
        padding: 0 1.5rem;
    }
    .search-bar {
        min-width: auto;
    }
    .nav-top{
        display: none;
    }
    .header-bottom {
        display: none;
    }
    .section-one {
        flex-direction: column-reverse;
        row-gap: 15px;
    }
    #page-index .section-one-right {
        width: 100%;
    }
    #page-index .section-one-left {
        width: 100%;
    }

    .products-list .item {
        width: calc((100% - 20px*2) / 3);
    }
    .news-list {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .news-list .item {
        width: calc((100% - 20px*2) / 3);
    }
    .footer-top {
        flex-wrap: wrap;
    }
    .footer-column {
        width: 50%;
    }
    #toggleNavbar {
        display: inline-flex;
    }
    #toggleNavbar i{
        font-size: 32px;
    }

    .header-bottom.actived{
        display: block;
    }
    .header-bottom.actived .main-nav  {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        background-color: #fff;
        height: 100vh;
        width: 250px;
        overflow-y: scroll;
    }
    .header-bottom.actived .main-nav ul{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .mclose {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #111;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        width: 40px;
        height: 40px;
        z-index: 99;
    }
   
}
/* màn hình Mobile lớn */
@media screen and (max-width: 577px) {
    .header-contact, .search-bar, .header-top-left {
        display: none;
    }
    .header-top-right {
        justify-content: flex-start;
    }
    .products-list .item {
        width: calc((100% - 20px*1) / 2);
    }
    .news-list .item {
        width: calc((100% - 20px*1) / 2);
    }
    .footer-top {
        flex-direction: column;
        row-gap: 30px;
    }
    .footer-column {
        width: 100%;
        flex: 1;
        
    }
}
/* màn hình Mobile nhỏ */
@media screen and (max-width: 376px) {

}