* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.section .section-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.section .section-header h2{
    text-transform: uppercase;
    padding: 10px 0;
}

.product-list {
    display: flex;
    justify-content: space-between;

}
.product-list .item {
    width: calc((100% - 30px) / 4);
}

.product-list .item .thumbnail {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.product-list .item .thumbnail .label-wrapper{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
}

.product-list .label-wrapper .label{
    display: block;
    background-color: crimson;
    color: #fff;
    border-radius: 40px;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.product-list .label-wrapper .label-discount{
    background-color: #f80;
}


.product-list .item .thumbnail img{
    width: 100%; 
    height: auto;
}

.product-list .item .thumbnail .offer-endday {
    position: absolute;
    bottom: 0;
    margin: 10px;
    width: 100%;
    background-color: rgba(4, 168, 205, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
}