* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: 'Lato',Arial, Helvetica, sans-serif;
}
.container {
    width: 1000px;
    overflow-x: hidden;
    background-color:#bdc1c5;
}
.picture img{
    width: 80%;
    height: auto;
    padding: 10px 0px 30px 20px;

}
.container article {
   padding-top: 10px;
}
.block_1 .picture,
.block_1 .title {
    display: inline-block;
    float: left;
    align-items: center;
}
.picture {
    width: 300px;
}
.title {
    width: 700px;
}
.title p:first-child {
    text-transform: uppercase;
    font-size: 40px;
    color: #242424;
    padding-top: 30px;
}
.title p:last-child {
    text-transform: uppercase;
    color: #242424;
    font-size: 20px;
    padding-top: 10px;
}
.contact p {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}
.contact .line {
    width: 200px;
    height: 5px;
    background-color: coral;
}