#heading {
    color: coral;
}
span {
    /* propery : value */
    background-color: #E62163;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    padding: 2px 10px;
}
.nav li{
    display: inline-block;
}
/* .nav li::after {
    content: "|";
    margin-left: 10px;
    margin-right: 5px;
}

.nav li:last-child::after {
    content: "";
} */

.nav li::after {
    content: " ";
    display: inline-block;
    height: 10px;
    border-right: 1px solid #333;
    margin-left: 10px;
    margin-right: 5px;
}

.nav li:last-child::after {
    border-right:0;
}