:root {
    --main-color: #1FA290;
}

.header-middle  .cart-number {
    width: 20px;
    height: 20px;
    top: -5px;
    right: -5px;
    background-color: var(--main-color);
    line-height: 20px;
    overflow: hidden;
}

/* footer */
footer .footer-logo img{
    max-height: 25px !important;
    width: auto;
}