* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
    line-height: 1.4;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* #fe4a55 */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
