/**
File global.css
Chỉ chứa những style dùng chung cho
tất cả các trang

*/

:root{
    /* tone màu chính */
    --main-color: #ff6700;
    /* tone màu phụ */
    --second-color: #303442;
    --text-color: #7a7a7a
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
}
a{
    text-decoration: none;
    color: #111;
}
input[type='text'],
input[type='tel'],
input[type='number'],
input[type='email'],
input[type='password'],
select,
textarea {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}
.select-options {
    display: inline-flex;
    position: relative;
}
.select-options::after {
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    content: '';
    height: 5px;
    position: absolute;
    transform: rotate(45deg);
    top: 1.5rem;
    right: 1.5rem;
    width: 5px;
    z-index: 2;
}
button, .btn {
    padding: 10px;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    appearance: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
header {
    background-color: var(--main-color);
    padding: 20px 0;
    /* position: fixed;
    top: 0;
    z-index: 99;
    width: 100%; */
}
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.text-center{
    text-align: center;
}

header nav ul {
    list-style: none;
    column-gap: 20px;
}

header nav ul li>a{
    text-decoration: none;
    color: #fff;
}

/* footer */
footer{
    background-color: #212121;
    padding: 50px 0;
    color: #a8a8a8;
}
.footer-bottom {
    border-top: 1px solid #313438;
    padding-top: 30px;
    margin-top: 30px;
}
.footer-top .footer-item{
    width: calc(100% / 4);
}
.footer-top .footer-item .footer-title{
    color: #fff;
    text-transform: uppercase;
}
/* Mặc định icon toogle mobile ẩn trên các thiết bị khác ngoại trừ mobile */
#toggle-mobile {
    display: none;
}

/* Responsive */
@media screen and (max-width: 960px){
    .container {
        padding: 0 20px;
        overflow: hidden;
    }
}
/* Tablet */
@media screen and (max-width: 768px) and (min-width: 425px){
    
    .footer-top {
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 30px;
    }
    .footer-top .footer-item {
        width: calc((100% - 30px) / 2);
    }

}

/* Mobile */
@media screen and (max-width: 425px){
    
    header {
        position: relative;
    }
    .navigation>ul{
        display: none;
    }
    .navigation>ul.show{
        display: flex;
        position: absolute;
        left: 0;
        top: 62px;
        right: 0;
        background-color: #fff;
        padding: 20px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, .3) ;
        flex-direction: column;
        row-gap: 15px;
    }
   
    header nav ul li>a{
        color: #111;
    }

    #toggle-mobile {
        display: block;
    }
    #toggle-mobile>span::before,
    #toggle-mobile>span::after,
    #toggle-mobile>span{
        width: 30px;
        height: 2px;
        display: inline-block;
        background-color: #fff;
    }
    #toggle-mobile>span{
        position: relative;
    }
    #toggle-mobile>span::before,
    #toggle-mobile>span::after{
        content: "";
        position: absolute;
    }
    #toggle-mobile>span::before {
        top: -6px
    }

    #toggle-mobile>span::after {
        bottom: -6px
    }

    .footer-top {
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 30px;
        flex-direction: column;
    }
    .footer-top .footer-item {
        width: 100%;
    }
}