*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #333;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
