/* BreakPoint là gì */

/* Desktop First */
/* max-width: = BreakPoint + 1*/

/* Tablet */
@media screen and (max-width: 769px){
    .container{
        padding: 0 15px;
    }
    .main-content-wrapper {
        flex-direction: column;
    }
    main aside, main .main-content {
        width: 100%;
    }
    main aside {margin-top: 20px;}
    .footer-wrapper, .product-list {
        flex-wrap: wrap;
    }
    .footer-wrapper .footer-col {
        width: 50%;
    }
    .product-list {
        row-gap: 10px;
        /* margin-top: 10px; */
    }
    .product-list .item {
        width: calc((100% - 20px) / 3);
    }
}
/* Mobile */

@media screen and (max-width: 426px){
    .product-list .item {
        width: calc((100% - 10px) / 2);
    }
    .footer-wrapper {
        flex-direction: column;
        row-gap: 15px;
    }
    .footer-wrapper .footer-col {
        width: 100%;
    }
    .article-list {
        margin-bottom: 30px;
    }
    .article-list article .photo {
        width: 120px;
        height: 120px;
        overflow: hidden;
    }
    /* img responsive */
    .article-list article .photo img{
        width: 100%;
        height: auto;
    }
    .article-list article .content {
        flex: 1
    }

    #toggle-mobile {
        display: block;
    }
    #toggle-mobile span,
    #toggle-mobile span:before,
    #toggle-mobile span:after{
        display: inline-block;
        height: 3px;
        width: 30px;
        background-color: #fff;
    }

    #toggle-mobile span {
        position: relative;
    }
    #toggle-mobile span:before,
    #toggle-mobile span:after{
        position: absolute;
        content: "";
        left: 0;
    }

    #toggle-mobile span:before {
        top: -8px
    }

    #toggle-mobile span:after {
        bottom: -8px
    }
    header {
        position: relative;
        height: 48px;
    }
    .header-nav ul {
        display: none;
    }

    .header-nav.actived ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 48px;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 20px 0;
        box-shadow: 2px 3px 10px rgba(0,0,0,.3);
    }
    .header-nav.actived ul li{
        margin: 5px 0;
        padding: 0 10px;
    }


}

@media screen and (max-width: 376px){
    .product-list .item {
        width: 100%;
    }
}