div.parent p:first-child{
    color: red;
}
/* 
Tìm thẻ ul, tìm tiếp thẻ li đầu tiên bên trong ul

*/
ul li:first-child {
    color: red;
}
ul li:last-child {
    color: blue;
}
/*
Nhiều element cùng
chung 1 style
*/
ul li:nth-child(2),
ul li:nth-child(3)
{
    color: purple;
}
/*
là thẻ li liền kề
với thẻ ul có class .cate
*/
ul.cate>li>span{
    text-decoration: underline;
    display: inline-block;
}

h1:before{
    content: '"';
}
h1:after{
    content: '"';
}

div.menu a:after{
    content: "|";
    color: red;
}
div.menu a:last-child::after{
    content: none;
}