@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.circle-container-red {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}

.circle-container-red .circle .mask,
.circle-container-red .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-container-red .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-container-red .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: red;
}

.circle-container-red .circle .mask.full,
.circle-container-red .circle .fill {
  animation: rotation-red ease-in-out 3s;
  transform: rotate(90deg);
}

@keyframes rotation-red {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.circle-container-red .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #ffffff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}
