/* 
Universal Selector 
==> Phạm vi tác động đến all các thẻ
*/
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/*
- Type selector | tag name selector
==> Phạm vi tác động đến tất các thẻ có tên đó
**/
h1 {
    color: red !important;
}
/* 
class selector
==> tác động đến all các thẻ có chung class đó
 */
.heading1 {
    color: yellow;
}

#head {
    color: blue;
}

h2{
    color: aqua !important;
}

h2{
    color: brown;
}
/* kjksjdkf */
.btn {
    padding: 5px 8px;
    color: #fff;
    background-color: #fb6e2e;
    border: 0;
    /* border-radius: 4px; */
}
.btn-tragop {
    background-color: dodgerblue;
}