
.categories_article a{
    color: #333;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 3px 8px;
    border-radius: 3px;
}
.categories_article a.current{
    background-color: var(--main-color);
}




#toparticles article {
    width: 252px;
    float: left;
}
#toparticles article:first-child {
    width: 515px;
    float: left;
    margin-right: 15px;
}

#toparticles article:nth-child(n+2) {
    border-bottom: 1px solid #ddd;
}
#toparticles article:nth-child(5) {
    border-bottom: 0;
}

#toparticles  article:first-child h3{
    font-size: 24px;
    font-weight: bold;
}
#toparticles article:nth-child(n+2) figure, 
#toparticles article:nth-child(n+3) .thumbnail,
#toparticles article:nth-child(n+3) .author {
    display: none;
}

#article_list article {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
#article_list article:last-child {
    border-bottom: 0;
}
#article_list article .thumbnail{
    width: 250px;
    float: left;
    margin-right: 15px;
}
#article_list article h3{
    font-weight: bold;
    font-size: 18px;
}
#article_list article figure {
    display: none;
}

.jobs {
    counter-reset: jobs-counter;
}
.jobs li {
    counter-increment: jobs-counter;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 15px 0;
    line-height: 1;
    position: relative;
    padding-left: 40px;
  }
.jobs li::before {
    background-color:#fafafa;
    color: #555;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 30px;
    content: counter(jobs-counter);
  }