@font-face {
    font-family: Lato;
    src: url('fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato;
    src: url('fonts/Lato-Bold.ttf');
    font-weight: bold;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* Font mặc định cho toàn bộ trang */
    font-family: Arial, Helvetica, sans-serif;
    /* size chữ mặc định cho toàn bộ trang */
    font-size: 14;
    /* Màu chữ mặc định cho toàn bộ trang */
    color: #111
}

h1{
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
    font-family: "Oswald", sans-serif;
}
h1>span{
    background-color: yellow;
    width: 200px;
    display: inline-block;
}
h2 {
    font-size: 40px;
    font-style: italic;
    font-family: "Lato", Arial, sans-serif;
}
p{
    text-indent: 40px;
}
.header {
    background-color: #111;
    color: #fff;
    width: 800px;
    height: 80px;
}