:root{
    --main-color: #08c
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #111;
    transition: all 0.3s ease;
}

a:hover {
    color: #333;
}

body {
    font-size: 14px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
/* header */
header{
    background-color: var(--main-color);
    padding: 10px 0;
    color: #fff;
}

nav ul{
    list-style: none;
    gap: 15px;
}
nav ul>li>a{
    color: #fff;
}

/* footer */

footer{
    background-color: #212121;
    padding: 20px 0;
    color: #fff;
}
.footer-wrapper {
    gap: 30px;
}
.footer-item {
    width: calc((100% - 90px) / 4);
}
main {
    margin: 20px 0;
}
section {
    margin: 20px 0;
}
#section-banner {
    gap: 20px
}

#section-banner .categories{
    width: 220px;
    background-color: #f3f3f3;
}

#section-banner .main-banner{
    width: calc((100% - 20px - 220px));
    background-color: #f3f3f3;
    height: 300px;
}

.product-list {
    gap: 20px;
}
.product-list .product-item {
    background-color: #f3f3f3;
    height: 220px;
    width: calc((100% - 60px) / 4);
}

/* responsive Desktop first */
/*
1024px ==> breakpoint
*/
@media screen and (max-width: 1024px) {
   .container {
        padding: 0 20px;
   }
}

@media screen and (max-width: 768px) {
    .footer-wrapper,
    .product-list {
        flex-wrap: wrap;
    }
    .footer-item {
        width: calc((100% - 30px) / 2);
    }

    .product-list .product-item {
        width: calc((100% - 40px) / 3);
    }
    #section-banner .categories{
        display: none;
    }
    #section-banner .main-banner{
        width: 100%;
    }
 }

 @media screen and (max-width: 425px) {
    .product-list .product-item {
        width: calc((100% - 20px) / 2);
    }

    .footer-item {
        width: 100%;
    }
 }

 
 @media screen and (max-width: 375px) {
    .product-list .product-item {
        width: 100%;
    }

    
 }