.blog-content {
    font-size: 1.6rem;
    line-height: 1.7;
}
.blog-content p{
    margin: 0 0 2rem 0;
}
.blog-content h2,
.blog-content h3,
.blog-content h4{
    color: var(--main-color) !important;
    margin: 0 0 2rem 0;
}
.blog-content h2 {
    font-size: 2.4rem;
}
.blog-content h3 {
    font-size: 2rem;
}
.blog-content h4 {
    font-size: 1.8rem;
    color: #333 !important;
}

.blog-content a{
    color: var(--main-color);
}

.blog-content ul, ol {
    line-height: 1.8;
    margin: 0 0 2rem 0;
    padding-left: 3rem;
}
.blog-content ul {
    list-style: disc;
}
.blog-content ol {
    list-style: decimal;
}
.blog-content ul li, ol li{
   line-height: inherit;
}
.blog-content img{
    width: auto;
    max-width: 100%;
    height: auto;
}
