/* breadcrumb */
.breadcrumb {
    margin: 2rem 0;
}
.breadcrumb ul li {
    display: flex;
}
.breadcrumb ul li::after {
    content: "›";
    padding: 0 5px;
}
.breadcrumb ul li:last-child::after{
    display: none;
}
.breadcrumb ul li a{
    color: #666;
}

/* layout */
footer {
    margin-top: 4rem;
}
.sidebar {
    width: 280px;
    border: 1px solid var(--border-gray-color);
    margin-left: 2rem;
}
.sidebar-title {
    text-transform: uppercase;
    padding: 2rem;
}
.main-content {
    flex: 1;

}

.box-sort {
    justify-content: space-between;
    margin-bottom: 2rem;
}
.box-sort-left,
.box-sort-right{
    align-items: center;
    column-gap: 1rem;
}
.box-sort label {
    margin-right: 1rem;
}
.box-sort-right {
 justify-content: flex-end;
}
.box-sort-right i{
    font-size: 1.8rem;
}
.box-sort-right a.active{
    color: var(--main-color);
}
/* product list */
.product-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
}

.product-list .item {
    width: calc((100% - 4rem) / 3);
    overflow: hidden;
    transition: all 0.3;
    position: relative;
    text-align: center;
    box-shadow: none
}
.product-list .item .thumb {
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow: hidden;
}

.product-list .item .thumb img{
    transition: all 0.3s;
    width: 100%;
    height: auto;
}
/* .product-list .item:hover .thumb img{
    transform: scale(1.1);
} */
.product-list .item .cate{
    color: #666;
    margin: 1rem 0;
}
.product-list .item .price{
    margin: 1rem 0;
    font-size: 1.8rem;
}
.product-list .item .price del{
    font-size: 1.4rem;
    color: #777;margin-right: 1rem;
}
.product-list .item .star{
    width: 100%;
    display: block;
    height: 1.6rem;
}
.product-list .item .star::after{
    content: "\f005\f005\f005\f005\f005";
    font-family: "FontAwesome";
}
.product-list .label-fixed{
    position: absolute;
    top: 1rem;
    left:  1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: .5rem;
    z-index: 2;
}
.label-fixed .badge{
    background-color: var(--main-color);
    color: #fff;
    border-radius: 20px;
    padding: 1px 8px;
    font-size: 13px;
}
.label-fixed .badge-discount{
    background-color: #da5555;
}
.product-list .action{
    justify-content: center;
    margin-bottom: 1.5rem;
}
.product-list .addtocart{
    background: #f4f4f4;
    color: #6f6e6b;
}
.product-list .item:hover .addtocart{
    background: #2b2b2d;
    border-color: #2b2b2d;
    color: #fff;
}

.product-list .item:hover {
    z-index: 1;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 8%);
}
/* pagination */
.pagination {
    margin: 2rem auto;
    justify-content: center;
    column-gap: .5rem;
    row-gap: .5rem;
    flex-wrap: wrap;
}
.pagination a{
    padding: .8rem 1.5rem;
    color: #555;
    font-weight: 600;
    border: 1px solid var(--border-gray-color);
}
.pagination a.current{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff;
}
.pagination a:hover{
    border: 1px solid var(--main-color);
}
/* Article list */
.news-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 3rem;
    flex-direction: column;
}

.news-list article {
    width: 100%;
    overflow: hidden;
    display: flex;
}
.news-list article .thumb {
    width: 240px;
    height: auto;
    max-height: 150px;
    overflow: hidden;
    margin-right: 2rem;
}

.news-list article .thumb img{
    transition: all 0.3s;
    width: 100%;
    height: auto;
}
.news-list article:hover .thumb img{
    transform: scale(1.1);
}
.news-list article .details {
    flex: 1;
}
.news-list article h3 {
    margin: 1rem 0;
    font-size: 1.8rem;
}

.news-list article p{
    margin-bottom: 1rem;
    color: #777;
}

.news-list article .status {
    display: flex;
    column-gap: 1rem;
    color: #666;
    align-items: center;
}

/* sidebar */
.cat-list {
    padding: 0 2rem;
    border-bottom: 1px solid var(--border-gray-color);
}
.cat-list li {
    position: relative;
    margin-bottom: 1.3rem;
    font-size: 14px;
    font-weight: 500;
}
.cat-list li a{
    font-size: 1.6rem;
    display: flex;
}
.cat-list>li:hover>a{
    color: var(--main-color);
}
.cat-list li.has-child .toggle::before{
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    content: '';
    height: 5px;
    position: absolute;
    transform: rotate(45deg);
    top: 5px;
    right: 0;
    width: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cat-list li.has-child.show .toggle::before{
    transform: rotate(225deg);
    top: 8px;
}
.cat-list li.has-child .cat-sublist{
    display: none;
}
.cat-list li.has-child.show .cat-sublist{
    display: block;
    clear: both;
    margin: 1rem 0 1rem 1rem;
}


/* vertical-list */
.vertical-list {
    padding: 0 2rem;
}
.vertical-list.product-list .item{
    width: 100%;
    text-align: left;
    display: flex;
}
.vertical-list .item .thumb{
    width: 100px;
    max-height: 100px;
    margin-right: 1rem;
}
.vertical-list .item .details{
    flex: 1;
}
.vertical-list.product-list .item:hover {
    box-shadow: none;
}
.vertical-list.product-list .item h3{
    text-overflow: ellipsis;
    overflow: hidden;
}