/* Common */
:root{
 --main-color: #08C;
 --gray-color:#777;
 --border-gray-color: #e7e7e7
}
* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html { font-size: 62.5%; } /* =10px */
body {
    font-size: 1.4rem; /* =14px */
    font-family: 'Lato', sans-serif;
    color: #222;
    line-height: 1.4;
}
a {
    text-decoration: none;
    transition: all 0.3s;
    color: #333;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.h1, .h2, .h3, .h4, .h5, .h6{
    margin-bottom: 1.8rem;
    color: #222529;
    font-weight: 700;
}
input[type='text'],
input[type='tel'],
input[type='number'],
input[type='email'],
input[type='password'],
select,
textarea {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}
.select-options {
    display: inline-flex;
    position: relative;
}
.select-options::after {
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    content: '';
    height: 5px;
    position: absolute;
    transform: rotate(45deg);
    top: 1.5rem;
    right: 1.5rem;
    width: 5px;
    z-index: 2;
}
button, .btn {
    padding: 10px;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    appearance: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


.collapse:not(.show) {
    display: none;
}

.container {
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    
}
.container:after {
    content: "";
    display: table;
    clear: both;
}

.d-flex{
    display: flex;
}
.d-inline-flex{
    display: inline-flex;
}
.lg-flex-full{
    flex: 1;
}
.overlay {
    display: none;
    overflow: hidden;
    z-index: 7;
    background: rgba(0, 0, 0, .75);
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
/* Header */
header {
    background-color: var(--main-color);
    color: #fff;
    position: relative;
}

.header-top,
.header-top-right {
    display: flex;
}
.header-top {
    padding: 7px 0;
    border-bottom: 1px solid #0e95d8;
    color: #fff;
    justify-content: space-between;
}
.header-top-left {
    font-size: 1.4rem;
}
.header-menu {
    align-items: center;
}
.header-menu a{
    padding: 0 10px;
    color: #fff;
    font-size: 1.3rem;
}
header .social-icons {
    border-left: 1px solid #0e95d8;
    padding-left: 1rem;
}

header .social-icon {
    border-radius: 50%;
    font-size: 13px;
    width: 2.6rem;
    height: 2.6rem;
    line-height: 2.6rem;
}

header .social-icon:not(:hover):not(:active):not(:focus) {
    background-color: transparent;
}
.header-middle {
    padding: 20px 0;
}
.header-middle .header-middle-flex {
    justify-content: space-between;
    column-gap: 1.5rem;
}
.search-bar {
    min-width: 500px;
}
.search-form {
    background-color: #fff;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.search-form input,
.search-form button {
    border: none;
    padding: 5px 10px;
}
.search-form input{
    flex: 1;
}
.search-form button {
    width: 30px;
    margin-right: 10px;
    background-color: transparent;
}
.search-form button i {
    font-size: 1.8rem;
    color: #777;
}
.header-contact {
    align-items: center;
}
.header-contact img {
    margin-right: 10px;
}
.header-contact h6 {
    margin-top: 2px;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.3;
}
.header-contact a {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
    color: #fff;
}
.header-icon {
    align-items: center;
    justify-content: flex-end;
}
.header-icon a{
    padding:  0 10px;
    display: block;
}
.header-icon i {
    font-size: 2.7rem;
    color: #fff;
}
#cart {
    position: relative;
}

#cart em {
    position: absolute;
    top: -5px;
    right: 0;
    width: 1.6rem;
    border-radius: 50%;
    color: #fff;
    background: #ff5b5b;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-family: "Open Sans",sans-serif;
    text-align: center;
    font-style: normal;
}
.header-bottom {
    border-bottom: 1px solid #e7e7e7;
    background: #fff;
}

.main-nav ul>li{
    color: #222;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 600;
    font-size: 1.4rem;
    position: relative;
    line-height: 50px;
}
.main-nav ul>li.has-child {
    margin-right: 10px;
}
.main-nav ul>li.has-child::before{
        border-bottom: 2px solid #333;
        border-right: 2px solid #333;
        content: '';
        height: 5px;
        z-index: 2;
        position: absolute;
        transform: rotate(45deg);
        top: 20px;
        right: -3px;
        width: 5px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
}

.main-nav ul>li:first-child {
    padding-left: 0;
}
.main-nav ul>li a{
    color: inherit;
}

.nav-child {
    position: absolute;
    top: 50px;
    display: none;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 1rem 2.5rem rgb(0 0 0 / 15%);
    padding: 10px;
    line-height: 2.4;
    min-width: 200px;
}
.nav-child a{
    display: block;
}
.main-nav ul>li.current{
    color: var(--main-color)
}

.main-nav ul>li.has-child.active>a{
    color: var(--main-color)
}

.main-nav ul>li.has-child.active::before{
    transform: rotate(225deg);
    top: 23px;
}
.main-nav ul>li.has-child.active .nav-child{display: block;}

.body-content {
    min-height: 600px;
}

footer {
    padding: 30px 0;
    background-color: #222529;
    color: #a8a8a8;
}

.footer-row {
    justify-content: space-between;
    margin: 30px 0;
}
.footer-row .footer-col{
    width: 25%;
    padding-right: 30px;
}
.footer-row .footer-col:last-child{
    padding-right: 0;
}

.footer-bottom {
    border-top: 1px solid #313438;
    padding-bottom: 2.7rem;
    padding-top: 2.7rem;
}

footer .widget-title {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
        font-family: Poppins,sans-serif;
        text-transform: uppercase;
        margin: 0 0 1.3rem;
}

footer .logo-footer {
    margin-top: 1.6rem;
    margin-bottom: 1.7rem;
    max-width: 101px;
}


footer .contact-info li {
    position: relative;
    margin-bottom: 1rem;
    line-height: 1.4;
    margin-top: 1.1rem;
}
footer .contact-info-label {
    display: block;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}
footer a {
    color: inherit;
}

footer .links li {line-height: 2}

footer .tagcloud a {
    padding: 0.64em 0.6em 0.56em;
    margin: 0 0.4rem 0.8rem 0;
    border: 1px solid #313438;
    color: inherit;
    font-size: 11px;
    background: transparent;
    border-radius: 0;
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
}

footer .social-icons {border-left: none;margin-top: 2rem;}
footer .social-icon {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 1.6rem;
    margin-left: 2px;
    line-height: 4rem;
    border: 1px solid #313438;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-icon.social-facebook {
    background-color: #3b5a9a;
}
.social-icon.social-twitter {
    background-color: #1aa9e1;
}
.social-icon.social-linkedin {
    background-color: #0073b2;
}
footer .social-icon:not(:hover):not(:active):not(:focus) {
    background: transparent;
}
footer .copyright {
    color: #777;
}


/* Mobile Only */
.mtoggle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mtoggle i {
    height: 3px;
    width: 3rem;
    background-color: #fff;
    margin: 2px 0;
    display: block;
}