
.main-content {
    width: calc(100% - 300px + 30px)
}

aside {
    width: 300px;
}
.post-list article {
    margin-bottom: 30px;
}

.post-list article .post-thumb{
    width: 370px;
    height: 228px;
    overflow: hidden;
}

.post-list article .post-thumb img{
    width: 100%;
    height: auto;
}

.post-list article .post-content {
    width: calc(100% - 390px);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.post-list article .post-more{
    color: var(--darkcolor);
    font-weight: bold;
}
.post-list article .post-more:hover{
    color: var(--main-color);
}

.post-list article .post-more:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid var(--main-color);
    border-bottom: 5px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}