:root {
    --main-color: #08c;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {list-style: none;}

a{
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.d-flex {
    display: flex;
}


/* header */
.header-middle {
    background-color: var(--main-color);
}

.header-middle-container{
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    column-gap: 100px;
}

.header-middle-container .logo {
    width: 200px;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
}
.main-navigation {
    flex: 1
}
.main-navigation>ul{
    column-gap: 15px;
}
.main-navigation li>a{
    color: #fff;
}

/* footer */
footer {
    background-color: #212121;
    padding: 40px 0 20px;
    color: #777;
}
footer .footer-col {
    width: 25%;
}

/* body */
main {
    margin: 30px 0;
    min-height: 422px;
}
main .main-container {
    justify-content: space-between;
}
main aside {
    width: 280px;
    border: 1px solid #ddd;

}
main .main-content {
    width: calc(100% - 300px);
}
main .products-wrapper {
    gap: 20px; /* tạo khoảng trống giữa mỗi sp */
    flex-wrap: wrap; /* cho sản 1phẩm xuống hàng */
}
main .products-wrapper .item{
    width: calc((100% - 40px) / 3);
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111;
    font-weight: bold;
    background-color: #b8b8b8;
}

#toggle-button{
    display: none;
}

/* desktop first */

/* Tablet */
@media screen and (max-width: 769px) {
   
    .container {
        width: 100%;
        padding: 0 10px;
    }
   
    main aside {
        display: none;
    }
    main .main-content {
        width: 100%;
    }
    footer .footer-container {
        flex-wrap: wrap;
    }
    footer .footer-col {
        width: 50%;
    }

}
/* Mobile */
@media screen and (max-width: 426px) {
    header .main-navigation ul {
        display: none;
    }

    main .products-wrapper .item {
        width: calc((100% - 20px) / 2);
    }
    .footer-container {
        flex-direction: column;
        row-gap: 20px
    }
    footer .footer-col {
        width: 100%;
    }
    .main-navigation {
        position: relative;
    }
    #toggle-button {
        position: absolute;
        right: 0;
        top: -10px;
        display: block;
    }
    #toggle-button span.ibar,
    #toggle-button span.ibar:before,
    #toggle-button span.ibar:after
    {
        height: 3px;
        width: 30px;
        display: inline-block;
        background-color: #fff;
    }
    #toggle-button span.ibar {
        position: relative;
    }
    #toggle-button span.ibar:before,
    #toggle-button span.ibar:after{
        position: absolute;
        content: "";
        left: 0;
    }
    #toggle-button span.ibar:before {
        top: -8px
    }
    #toggle-button span.ibar:after {
        bottom: -8px
    }

    #toggle-button span.iclose {
        display: none;
    }

    .main-navigation.actived ul{
        display: flex;
        position: fixed;
        height: 100vh;
        top: 57px;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 9999999;
        flex-direction: column;
        row-gap: 15px;
        padding: 10px;
        overflow-y: scroll;
    }

    .main-navigation li>a{
        color: #111;
    }

    .main-navigation.actived #toggle-button span.ibar {
        display: none;
    }
    .main-navigation.actived #toggle-button span.iclose {
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 26px;
    }
    
    
    
}