/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', Times, serif;
    line-height: 27px;
    font-size: 16px;
    background-color: #fafafa;
}
h1, h2, h3, h4{
    margin: 20px 0;
}
p, div {
    margin-bottom: 15px;
}
ul, ol{
    margin-left: 30px;
}

/* END Reset CSS */

.container{
    width: 1200px;
    margin: 0 auto;
}

h1{
    font-size: 38px;
}
h2{
    text-transform: uppercase;
}